/*Global style--------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    padding: 1em 1em;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
img{
    width: 100%;
}
h1{
    color: #B78400;
    font-size: 3em;
}
h2{
    font-size: 4em;
    color: #e6e1d5;
}
h3{
    font-size: 2em;
    color: #B78400;
}
h4{
    font-size: 1.2em;
}
p{
    font-size: 1.2em;
    font-weight: bold;
}
body{
    background-color: #4C3575;
    font-family: 'Dancing Script', cursive;
    font-family: 'IBM Plex Mono', monospace;
}
/*index---------------------------------*/
/*header----------------------------------------------------*/
.header__container{
    background-color: #371B58;
    padding: 1em 0;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.header__logo{
    margin: 0;
    font-size: 3em;
}

.header__logo a{
    color: #B78400;
}

.nav__link{
    color: #B78400;
}

.header__nav{
    display: flex;
    flex-direction: row;
}


/*section__1--------------------------------------*/
.part__1{
    margin: 0;
    padding: 0 15%;
}

/*grid---------------------------------*/


.main__container{
    margin: 1em 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content;
    grid-column-gap: 20px;
    grid-template-areas:
    "title img1 img2"
    "text text text"
    ;
}

.main__container .artwork{
    grid-area: title
}

.main__container .card{
    grid-area: img1;
}

.main__container .card__info{
    grid-area: img2;
}

.section__text-p{
    grid-area: text;
}

.main__container .artwork{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card__img{
    border-radius: 50px;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.card__info-img{
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section__text {
    display: flex;
    justify-content: center;
}

.section__text-p{
    margin: auto;
    padding: 10% 10% 10% 10%;
}
/*Part__2----------------------------------------------*/

.part__2{
    margin: 0;
    padding: 0 15%; 
}

/*grid----------------------------------------*/
.section__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
    "title__2 ... img__3"
    "img__4 img__5 img__3"
    "img__4 about textArea"
    ;
}

.container__title{
    grid-area: title__2;
}

.container__div1{
    grid-area: img__4;
}

.container__div2{
    grid-area: img__5;
}

.about{
    grid-area:about;
}

.container__div3{
    grid-area: img__3;
}

.description{
    grid-area: textArea;
}



.container__div1{
    align-items: center;
    justify-items: center;
}

.container__div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__div3{
    justify-content: center;
    align-items: center;
}

.div-img{
    border-radius: 50px;
}

.div-img2{
    width: 50%;
    border-radius: 100px;
}

.section__container .about{
    align-self: start;
    justify-self: end;
}

.nixeu{
    margin: 2em 0em 0em 0em;
}

.section__container .description{
    align-self: start;
}
.description h2{
    margin: 1em 0 0 0;
}

.description__2{
    display: flex;
    justify-content: center;
    border: 3px solid #371B58;
    border-radius: 50px;
    padding: 1rem;  margin: 2px;
    
}

/*footer--------------------------------------------------*/

footer{
    background-color: #5B4B8A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.follow{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.follow__ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.follow__ul-li{
    width: 2em;
}

.ul__li-a{
    padding: 0;
    margin: .5em;
}

/*artwork page--------------------------------------------*/
/*main--------------------------------*/

.main__artwork{
    background-image: url(./../imagenes/img__ejemplo/n-i-x-e-u-ptt.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.main__artwork h1{
    margin: .5em 0;
}

.artwork__section p{
    color: #fff;
    margin: 1em 0;
}

.barSearch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barSearch input{
    background-color: #444040;
    height: 3em;
    width: 100%;
    
    border-radius: 50px;
    border: none;
    margin: 1em 0;
}

/*diseño del button---------------------------------------------*/
.barSearch button{
    height: 2em;
    width: 10em;
    background-color: blueviolet;
    border-radius: 50px;
    border: solid 2px #371B58;
}

button:hover{
    background-color: rgb(88, 26, 146);
}

/*article__part-2------------------------------------------------*/

.artwork{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}
.info{
    display: none;
    position: absolute;
}
.artwork a{
    width: 16.666%;
    height: 15rem;
    position: relative;
    padding: 0;
    
}

.artwork img{
    width: 100%;
    height: 100%; /*altura y el ancho al 100% para llenar el contenedor */
    object-fit: cover;
}
/*hover transform-----------------------------*/
.info{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}
.artwork a:hover .info{
    opacity: 1;
    pointer-events: auto;
}

/*Artist page----------------------------------------------------------*/

.artist__navbar{
    background-color: #352F44;
    padding: 52px 15px 0;
}
.barSearch{
    margin: 0 auto;
    max-width: 850px;
    height: 100px;
}

/*card artist--------
2A2438---------------*/
